<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Galleri</title>
  <link rel="stylesheet" href="/retro-canvas/css/style.css">
  <script type="module" src="/retro-canvas/js/index.js"></script>
</head>
<body>
    <nav-buttons></nav-buttons>
    <gallery-view></gallery-view>
</body>
</html>