<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Galleri</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/js/components/gallery-view/index.js"></script>
</head>
<body>
    <h1>Galleri</h1>
    <gallery-view></gallery-view>
</body>
</html>