<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Pixelritare</title>
  <script type="module" src="/js/index.js"></script>
</head>
<body>
  <h1>Pixelritare</h1>
  <pixel-app></pixel-app>
</body>
</html>