<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Pixelritare</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Pixelritare</h1>
  <canvas id="canvas" width="512" height="512"></canvas>

  <script src="/js/index.js"></script>
</body>
</html>
