<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/style.css">

  <script type="module" src="/retro-canvas/js/index.js"></script>
</head>
<body>
  <main>
    <%- include('../partials/flash') %>

    <form method="post" action="/retro-canvas/auth/login">
      <label>Username</label>
      <input type="text" name="username" required>
      
      <label>Password</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>

    <nav-buttons></nav-buttons>
  </main>
</body>
</html>
